<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p>register</p>

  <!-- <form action="/register" method="post" th:object="${userForm}"> -->
  <!-- <form th:action="@{/register}" method="post"> -->
  <!-- <form action="/entry"> -->
  <div th:if="${originalErrorDup}">
    <p>その名前は既に他ユーザーに登録されているため、そのほかの名前にして下さい。</p>
  </div>
  <form th:action="@{/register/add}" method="post" th:object="${userRegister}">
    <label>名前</label>
    <br>
    <input name="name" type="text" />
    <span th:errors="*{name}"></span>
    <br>
    <label>パスワード</label>
    <br>
    <input name="password" type="password" />
    <span th:errors="*{password}"></span>
    <br>
    <br>
    <!-- <input type="submit" value="登録する" /> -->
    <button type="submit">登録する</button>
  </form>
  <!-- <div th:object="${user}">
    <span th:errors="*{name}"></span>
  </div> -->
  <!-- <span th:errors="*{name}"></span> -->

  <br>
  <a th:href="@{/login}">ログイン</a>
</body>
</html>